<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quartos</title>

    <%- include('../../partial/link.ejs')  %>


</head>

<body>

    <%- include('../../partial/menu.ejs')  %>

</body>

</html>