body{
    background-color: #eeeeee;
    overflow: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1.5rem 3rem;
    background-color:  #794c20;
    color: #fff;
    align-items: center;
}
.header-nav ul{
    display: flex;
    
}
.header-nav ul li{
    margin: 0 1rem;
}

.config{
    display: flex;
    gap: 10px;
    cursor: pointer;

}

@media(max-width:900px){
    .header-nav ul, .config{
        display: none;
        
    }
}