
.container {
    display: flex;
}

.sidebar {
    max-width: 300px;
    width: 100%;
    background-color: #3f9cc1;
    color: #fff;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    flex: 1;
    padding: 20px;
    max-height: 100vh;
    overflow: auto;
    height: 100%
}
.content .box-container{
    border-radius: 10px;
    background-color: #3f9cc1;
    color: #fff;
    padding: 40px;
   /*  overflow: auto;
    height: 100%; */
    
}
.content .box-container h1 {
    margin-top: 0;
    font-size: 2rem;
    margin: 10px 0;
}
.button{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #C1B086;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #C1B086;
    transition: 200ms all ease-in-out;
}
.button:hover{
    background-color: transparent;
   /*  transform: scale(1.2); */
}
.box-acess{
    color: #3f9cc1;
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}
.buttonAcess{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #C1B086;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #C1B086;
    transition: 200ms all ease-in-out;
}
.buttonAcess:hover{
    background-color: transparent;
    color: #C1B086;
}
