body {
    background-image: url("/img/hotel7.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =======================validator========================= */
.erroForm {
    color: red;
    display: block;
    font-weight: bolder;
    width: 100%;
    font-size: 0.9rem;
}

.erroInput {
    border: solid 2 px red !important;

}

/* =======================validator========================= */
.Container-form{
    max-width: 380px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    .Content-h1{
        margin: 13px 0;
        
    }
    form{
        padding: 15px;
        h2{
            margin: 10px 0;
            font-size: 2rem;
            
        }
        input{
            width: 100%;
            margin: 14px 0;
            padding: 10px;
            outline: none;
        }
        input:focus{
            outline: 2px solid blue;
        }
        button {
            background-color: blue;
            padding: 10px 35%;
            margin: 20px 0;
            color:#fff;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            &:hover{
                background-color: rgb(22, 22, 140);  
            }
        }
        .link{
            color: blue; 
            &:hover{
                color: rgb(22, 22, 140);  
            }
        }
        span{
            text-align: left;
        }
    }
}