body {
  /* background-image: url("/img/hotel7.jpg"); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* =======================validator========================= */
.erroForm {
  color: red;
  display: block;
  font-weight: bolder;
  width: 100%;
  font-size: 0.9rem;
}

.erroInput {
  border: solid 2px red !important;
}

/* =======================validator========================= */

.container__form{
  max-width: 500px;
  width: 100%;
  background-color: red;
  padding: 15px;
}
.container__form input{
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}


.demo {
  text-align: left;
  padding: 10px;
}
 .demo_button{
  padding: 10px 5%;
  background-color: blue;
  border: 2px solid  blue;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}
.demo_button:hover{
  background-color: transparent;
  color: blue;
}