/* =======================validator========================= */
.erroForm {
    color: red;
    display: block;
    font-weight: bolder;
    width: 100%;
    padding: 10px 0 0 15px;
    font-size: 0.9rem;
}

.erroInput {
    border: solid 2 px red !important;

}

/* =======================validator========================= */
body {
    background-color: #0e2e99;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    padding: 50px;
    width: 100%;
}

.link a {
    color: #fff;
    font-size: 1.2rem;
}

.link a:hover {
    text-decoration: underline;
}

.Pages-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.form-cadastro {
    
    background-color: #fff;
    border-radius: 8px;
    
    

    form {
        padding: 10px;

        .Content-h1 {
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            margin: 10px 0;


        }

        input {
            width: 100%;
            padding: 15px 10px;
            margin: 8px 0;
            outline: none;
            border-radius: 5px;
            border: 1px solid #333;
        }

        input:focus {
            outline: 2px solid #0e2e99;
        }

        button {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
        }
    }

}