body {
  background-image: url("/img/home2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

a{
  text-decoration: none;
}

/* =======================validator========================= */
.erroForm {
  color: red;
  display: block;
  font-weight: bolder;
  width: 100%;
  font-size: 0.9rem;
}

.erroInput {
  border: solid 2px red !important;
}

/* =======================validator========================= */
.text {
  text-align: center;
  margin: 10px 0;
  font-size: 2rem;
}

.container__form {
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.container__form input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  outline: none;
  border-radius: 8px;
  margin: 15px 0;
  border: 1px solid #333;

}

.demo {
  text-align: left;
  padding: 10px;

}

.demo_button {
  padding: 10px 5%;
  background-color: #3f9cc1;
  border: 2px solid #3f9cc1;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  margin-bottom: 5px;
}

.demo_button:hover {
  background-color: transparent;
  color: #3f9cc1;
}

/* password */

.password-container{
  position: relative;
  width: 100%;
}
#togglePassword {
  position: absolute;
  right: 10px;
  top: 27px;
  cursor: pointer;
  color: #666;
}