body {
  /* background-image: url("/img/hotel7.jpg"); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
