body {
    background-image: url("/img/hotel7.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
   
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.h2_text{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
}
form {
    max-width: 500px;
    width: 100%;
    margin: 10px ;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;

    h2{
        margin: 10px 0;
        font-size: 2rem;
        
    }

    label{
        margin: 10px 0 6px 0;
        display: flex;
        text-align: end;
    }
    input{
        width: 100%;
        padding: 15px;
        outline: none;
        border: 1px solid #333;
        border-radius: 3px;
        margin-bottom: 5px;
        &:focus{
            outline: 2px solid #018abe;
        }
    }
    button{
       margin: 20px 0;
       width: 100%;
       padding: 10px;
       cursor: pointer;
       background-color: #018abe;
       color: #fff;
       font-size: 17px;
       border: 2px solid #018abe;
       transition: all 300ms ease-in;
       &:hover{
        color: #018abe;
        background-color: #fff;
       }
    }
    .linha-container{
        display: flex;
        align-items: center;
        margin: 10px 0;
        .linha {
            flex: 1;
            height: 1px;
            background-color: black;
        }
        .ou {
            margin: 0 10px;
        }
    }
    .p_text{
        text-align: left;
        margin: 5px 0;
        a{
            color: #018abe;
            &:hover{
                text-decoration: underline;
            
            }
        }
    }
}