body{
    background-color: #eeeeee;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1.5rem 3rem;
    background-color: var(--color-1);
    color: #fff;
    align-items: center;
}
.header-nav ul{
    display: flex;
    
}
.header-nav ul li{
    margin: 0 1rem;
}

.config{
    display: flex;

}