@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --color_primary: #3f9cc1;
  --white: #fff;
}

/* Reset CSS */

/* Box sizing */
* {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* Margin and padding reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
figcaption,
figure,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Set default font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Remove default hyperlink styles */
a {
  text-decoration: none;
  color: inherit;
}


/* Clear floats */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* button global */

.cta {
  background-color: var(--color_primary);
  width: 100%;
  padding: 10px 0;
  margin: 13px 0;
  cursor: pointer;
  border: 2px solid var(--color_primary);
  border-radius: 5px;
  color: var(--white);
  font-size: 1rem;
  transition: all 200ms ease-in-out;
}
.cta:hover{
  background-color: transparent;
  color: var(--color_primary);
}