<header class="header">
    <a href="/" class="header-brand">
        <h1>Hotel Node</h1>
    </a>
    <nav class="header-nav">
        <ul>
            <li>
                <a href="/quartos" class="active">Quartos</a>
            </li>
            <li>
                <a href="/perfil" class="">Perfil</a>
            </li>

        </ul>
    </nav>
    <div class="config">

        <a href="/config">
            <h2>Config</h2>
        </a>
    </div>
</header>