<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - hotel Node </title>

    <link rel="stylesheet" href="css/cadastro.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <%- include('../partial/link.ejs') %>



</head>

<body>

    <section class="container__form">

        <h1 class="text">Hotel Node</h1>

        <form action="cadastro" method="post">


            <input type="text" name="name" placeholder="nome" maxlength="80">

            <input type="email" placeholder="email" name="email">

            <!-- <input type="date" name="nasc" id=""> -->

            <input type="text" name="cpf" class="cpf" placeholder="cpf" maxlength="80">
            
            <div class="password-container">
                <input type="password" name="senha" id="password" placeholder="senha" maxlength="60">
                <i id="togglePassword" class="fas fa-eye-slash"></i>
            </div>
            
            <div class="password-container">
                <input type="password" name="senha-c" id="password" placeholder="confirma senha" maxlength="60">
                <i id="togglePassword" class="fas fa-eye-slash"></i>
            </div>


            <button class="cta">Cadastrar</button>

        </form>

        <div class="demo">
            <a href="/quartos">
                <button class="demo_button">
                    Entrar com visitante
                </button>
            </a>
            <a href="/">
                <button class="demo_button">
                    volta para home
                </button>
            </a>
        </div>

    </section>

    <script src="/js/Mascaras.js"></script>
    <script src="/js/password.js"></script>
</body>

</html>