<!DOCTYPE html>
<html lang="en" dir="pt-br">

<head>
  <title>Hotel node</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/mediaQuery-index.css">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"
    integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

</head>

<body>

  <%- include('../partial/header.ejs') %>

    <section class="space" id="home"></section>

    <section class="home" id="home">
      <div class="head_container">
        <div class="box containerText">
          <div class="text">
            <h1>Hotel-node</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. </p>
            <button>MORE INFO</button>
          </div>
        </div>
        <!-- <div class="">
          <section  class="slide"></section>
        </div> -->

      </div>
    </section>
    <section class="space" id="about"></section>
    <section class="about top">
      <div class="container flex">
        <div class="left">
          <div class="img">
            <img src="/img/a1.jpg" alt="" class="image1">
            <img src="/img/a2.jpg" alt="" class="image2">
          </div>
        </div>
        <div class="right">
          <div class="heading">
            <h5>RAISING COMFOMRT TO THE HIGHEST LEVEL</h5>
            <h2>Welcome to Luviana Hotel Resort</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. </p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
              laborum.</p>
            <button class="btn1">READ MORE</button>
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper top">
      <div class="container">
        <div class="text">
          <h2>Our Amenities</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea
            commodo consequat. </p>

          <div class="content">
            <div class="box flex">
              <i class="fas fa-swimming-pool"></i>
              <span>Swimming pool</span>
            </div>
            <div class="box flex">
              <i class="fas fa-dumbbell"></i>
              <span>Gym & yogo</span>
            </div>
            <div class="box flex">
              <i class="fas fa-spa"></i>
              <span>Spa & massage</span>
            </div>
            <div class="box flex">
              <i class="fas fa-ship"></i>
              <span>Boat Tours</span>
            </div>
            <div class="box flex">
              <i class="fas fa-swimmer"></i>
              <span>Surfing Lessons</span>
            </div>
            <div class="box flex">
              <i class="fas fa-microphone"></i>
              <span>Conference room</span>
            </div>
            <div class="box flex">
              <i class="fas fa-water"></i>
              <span>Diving & smorking</span>
            </div>
            <div class="box flex">
              <i class="fas fa-umbrella-beach"></i>
              <span>Private Beach</span>
            </div>
          </div>
        </div>
      </div>
    </section>
   <section class="space-Amenities"></section> 
    <section class="room top" id="room">
      <div class="container">
        <div class="heading_top flex1">
          <div class="heading">
            <h5>RAISING COMFORT TO THE HIGHEST LEVEL</h5>
            <h2>Rooms $ Suites</h2>
          </div>
          <div class="button">
            <button class="btn1">VIEW ALL</button>
          </div>
        </div>

        <div class="content grid cards">
          <div class="box">
            <div class="img">
              <img src="/img/r1.jpg" alt="">
            </div>
            <div class="text">
              <h3>Superior Soble Rooms</h3>
              <p> <span>$</span>129 <span>/per night</span> </p>
            </div>
          </div>
          <div class="box">
            <div class="img">
              <img src="/img/r2.jpg" alt="">
            </div>
            <div class="text">
              <h3>Superior Soble Rooms</h3>
              <p> <span>$</span>129 <span>/per night</span> </p>
            </div>
          </div>
          <div class="box">
            <div class="img">
              <img src="/img/r3.jpg" alt="">
            </div>
            <div class="text">
              <h3>Superior Soble Rooms</h3>
              <p> <span>$</span>129 <span>/per night</span> </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper wrapper2 top">
      <div class="container">
        <div class="text">
          <div class="heading">
            <h5>AT THE HEART OF COMMUNICATION</h5>
            <h2>People Say</h2>
          </div>

          <div class="para">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. </p>

            <div class="box flex">
              <div class="img">
                <img src="/img/c.jpg" alt="">
              </div>
              <div class="name">
                <h5>KATE PALMER</h5>
                <h5>IDAHO</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- <section class="restaurant top" id="restaurant">
      <div class="container flex">
        <div class="left">
          <img src="/img/re.jpg" alt="">
        </div>
        <div class="right">
          <div class="text">
            <h2>Our Restaurant</h2>
            <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
              laborum.</p>
          </div>
          <div class="accordionWrapper">
            <div class="accordionItem open">
              <h2 class="accordionIHeading">Italian Kitchen</h2>
              <div class="accordionItemContent">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex ea commodo consequat.
                </p>
              </div>
            </div>
            <div class="accordionItem close">
              <h2 class="accordionIHeading">Mexican Kitchen</h2>
              <div class="accordionItemContent">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex ea commodo consequat.
                </p>
              </div>
            </div>
            <div class="accordionItem close">
              <h2 class="accordionIHeading">Italian Kitchen</h2>
              <div class="accordionItemContent">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex ea commodo consequat.
                </p>
              </div>
            </div>
            <div class="accordionItem close">
              <h2 class="accordionIHeading">Mexican Kitchen</h2>
              <div class="accordionItemContent">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      var accItem = document.getElementsByClassName('accordionItem');
      var accHD = document.getElementsByClassName('accordionIHeading');

      for (i = 0; i < accHD.length; i++) {
        accHD[i].addEventListener('click', toggleItem, false);
      }

      function toggleItem() {
        var itemClass = this.parentNode.className;
        for (var i = 0; i < accItem.length; i++) {
          accItem[i].className = 'accordionItem close';
        }
        if (itemClass == 'accordionItem close') {
          this.parentNode.className = 'accordionItem open';
        }
      }
    </script> -->

    <section class="space" id="gallary-space"></section>

    <section class="gallary mtop">
      <div class="container">
        <div class="heading_top flex1">
          <div class="heading">
            <h5>WELCOME TO OUR PHOTO GALLERY</h5>
            <h2>Photo Gallery of Our Hotel</h2>
          </div>
          <div class="button">
            <button class="btn1">VIEW GALLERY</button>
          </div>
        </div>

        <div class="owl-carousel owl-theme">
          <div class="item">
            <img src="/img/g1.jpg" alt="">
          </div>
          <div class="item">
            <img src="/img/g2.jpg" alt="">
          </div>
          <div class="item">
            <img src="/img/g3.jpg" alt="">
          </div>
          <div class="item">
            <img src="/img/g4.jpg" alt="">
          </div>
          <div class="item">
            <img src="/img/g5.jpg" alt="">
          </div>
          <div class="item">
            <img src="/img/g6.jpg" alt="">
          </div>
          <div class="item">
            <img src="/img/g7.jpg" alt="">
          </div>
          <div class="item">
            <img src="/img/g8.jpg" alt="">
          </div>
        </div>

      </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"
      integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        dots: false,
        navText: ["<i class='fas fa-chevron-left'></i>", "<i class='fas fa-chevron-right'></i>"],
        responsive: {
          0: {
            items: 1
          },
          768: {
            items: 2
          },
          1000: {
            items: 4
          }
        }
      })
    </script>
   <!--  <section class="map top">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d18361.273105768665!2d-46.6333094!3d-23.5505199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snp!4v1637755481449!5m2!1sen!2snp&amp;zoom=11"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section> -->




    <section class="space" id="contact"></section>

    <footer class="footer">
       <p><span>Projeto hotel node. Todos os direitos reservados </span> &copy; 2024</p>
    </footer>
</body>

</html>