<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel - node </title>

    <link rel="stylesheet" href="css/HomeStyle.css">
</head>

<body>
    <aside class="menu">
        <div class="main-content menu-conatnt">
            <h1 class="h1_menu"><a href="">Hotel-node</a></h1>
            <nav class="menu-nav">
                <ul>
                    <li><a href="#intro">Intro</a></li>
                    <li><a href="#Quartos">Cidades</a></li>
                    <li><a href="#Reserva"> lugares</a></li>
                    <li><a href="#"> Login</a></li>

                    <div class="space-button">
                        <a href="/cadastro">
                            <button>Cadastro</button>
                        </a>
                    </div>
                </ul>

            </nav>
        </div>
    </aside>

    <div class="menu-space" id="intro"></div>

    <section class="intro section" id="Home">
        <div class="main-content intro-content">
            <div class="Container-intro">
                <h1>Headline that highlights the Value Proposition</h1>
                <p>Describe exactly what your product or service does and how it makes your customer's lives better.
                    Avoid using verbose words or phrases.</p>
                <div>
                    <button class="button1">Get started</button>
                    <button class="button2">Learn more</button>
                </div>
                <div class="image-container">
                    <img src="/img/hotel3.jpg" alt="">
                </div>
            </div>

        </div>
    </section>


    <section class="section main-bg" id="">
        <div class=" main-content">

        </div>
    </section>


    <section class="intro  section" id="Home">
        <div class="main-content intro-content">

        </div>
    </section>

    <section class="section main-bg" id="">
        <div class=" main-content">

        </div>
    </section>


</body>

</html>