<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel - node </title>

    <link rel="stylesheet" href="css/HomeStyle.css">
</head>

<body>
    <aside class="menu">
        <div class="main-content menu-conatnt">
            <h1 class="h1_menu"><a href="">Hotel-node</a></h1>
            <nav class="menu-nav">
                <ul>
                    <li><a href="#intro">Intro</a></li>
                    <li><a href="#Quartos">Cidades</a></li>
                    <li><a href="#Reserva"> lugares</a></li>
                    <li><a href="#"> Login</a></li>

                    <div class="space-button">
                        <a href="#">
                            <button>Cadastro</button>
                        </a>
                    </div>
                </ul>

            </nav>
        </div>
    </aside>

    <div class="menu-space" id="intro"></div>

    <section class="intro main-bg section" id="Home">
        <div class="main-content intro-content">

        </div>
    </section>


    <section class="section" id="">
        <div class=" main-content">

        </div>
    </section>


    <section class="intro main-bg section" id="Home">
        <div class="main-content intro-content">

        </div>
    </section>

</body>

</html>