<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel - node </title>

    <link rel="stylesheet" href="css/HomeStyle.css">
    <link rel="stylesheet" href="css/fontscss.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">


    <!-- SIMPLE NOTIFY - Notificações -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script src="/js/notify.js"></script>
    <link rel="stylesheet" href="/css/notify.css">
    <link rel="stylesheet" href="/util/fucao.js">

</head>

<body>

    <aside class="menu">
        <div class="main-content menu-conatnt">
            <h1 class="h1_menu"><a href="">Hotel-node</a></h1>
            <nav class="menu-nav">
                <ul>
                    <li><a href="#intro">Intro</a></li>
                    <li><a href="#Quartos">Cidades</a></li>
                    <li><a href="#Reserva"> lugares</a></li>
                    <li><a href="/Login"> Login</a></li>

                    <div class="space-button">
                        <a href="/cadastro">
                            <button>Cadastro</button>
                        </a>
                    </div>
                </ul>

            </nav>
        </div>
    </aside>

    <div class="menu-space" id="intro"></div>
    <section class="intro section" id="Home">
        <div class="main-contentIntro intro-content">
            <div class="Container-intro">
                <h1>Headline that highlights the Value Proposition</h1>
                <p>Describe exactly what your product or service does and how it makes your customer's lives better.
                    Avoid using verbose words or phrases.</p>
                <div>
                    <button class="button1">Get started</button>
                    <button class="button2">Learn more</button>
                </div>
                <div class="image-container">
                    <img src="/img/hotel3.jpg" alt="">
                </div>
            </div>

        </div>
    </section>


    <section class="section main-bg" id="">
        <div class=" main-content">

            <div class="Container__Quality">
                <section class="Text__Quality">
                    <h1>Bem-vindo ao Hotel-node</h1>
                    <p>Aqui, oferecemos serviços de qualidade, conforto e excelência para tornar sua estadia
                        inesquecível.
                        Venha desfrutar de uma experiência única em nosso hotel!</p>
                </section>
                <section class="Box__Quality">
                    <div class="Quality_img">
                        <img src="/img/hotel5.jpg" alt="">
                        <p>
                            No Hotel Paraíso, dedicamo-nos a proporcionar uma experiência excepcional com serviços de primeira classe, conforto inigualável e hospitalidade acolhedora. Venha viver o melhor da hotelaria conosco!
                        </p>
                        
                    </div>
                    <div class="Quality_img">
                        <img src="/img/hotel2.jpg" alt="">
                        <p>
                            O Hotel Estrela do Mar é reconhecido por seu compromisso com a qualidade e o bem-estar dos hóspedes. Desfrute de acomodações luxuosas, serviços impecáveis e uma localização privilegiada à beira-mar.
                        </p>
                    </div>
                    <div class="Quality_img">
                        <img src="/img/hotel3.jpg" alt="">
                        <p>
                            No Hotel Jardim Encantado, cada detalhe é pensado para oferecer a você uma estadia inesquecível. Com atendimento personalizado, instalações modernas e uma atmosfera tranquila, garantimos momentos de pura satisfação.
                        </p>
                    </div>
                </section>

            </div>





        </div>
    </section>


    <section class="intro  section" id="Home">
        <div class="main-content intro-content">

        </div>
    </section>

    <section class="section main-bg" id="">
        <div class=" main-content">

        </div>
    </section>


</body>

</html>