<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Hotel Node</title>
    <link rel="stylesheet" href="css/Login.css">

    <%- include('../partial/link.ejs')  %>
</head>

<body>
    <!-- <a href="/">
        <div class="h2_text">
            <h2>Hotel-node</h2>
        </div>
    </a> -->
    <form action="">
        <a href="/"><h2>Login</h2></a>
        <p>Lorem ipsum dolor sit amet adipiscing elit.</p>

        <label for="nome">Nome<p style="color: red;">*</p></label>
        <input type="text" placeholder="Seu nome" required>
        <label for="senha">Senha <p style="color: red;">*</p></label>
        <input type="password" placeholder="Sua senha" name="senha" required>
        <p class="p_text">Ainda não tem conta?<a href="/cadastro"> acesse!</a></p>

        <button>Entrar</button>

    <!--     <div class="linha-container">
            <div class="linha"></div>
            <div class="ou">ou</div>
            <div class="linha"></div>
        </div>
         -->



    </form>


</body>

</html>