<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Hotel Node</title>
    <link rel="stylesheet" href="css/Login.css">

    <%- include('../partial/link.ejs')  %>
</head>

<body>
    <!-- <a href="/">
        <div class="h2_text">
            <h2>Hotel-node</h2>
        </div>
    </a> -->
   


</body>

</html>