<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>



    <!-- SIMPLE NOTIFY - Notificações -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script src="/js/notify.js"></script>
    <link rel="stylesheet" href="/css/notify.css">
    <link rel="stylesheet" href="css/resert.css">

    <link rel="stylesheet" href="/css/quartos.css">

</head>

<body>

    <header class="header">
        <a href="/" class="header-brand"><h1>Hotel Node</h1></a>
        <nav class="header-nav">
            <ul>
                <li>
                    <a href="#" class="active">Quartos</a>
                </li>
                <li>
                    <a href="#" class="">Reservado</a>
                </li>
                <li>
                    <a href="#" class="">Serviços</a>
                </li>
                
            </ul>
        </nav>
        <div class="config">
            <h1>C</h1>
            <h1>P</h1>
        </div>
    </header>

</body>

</html>