<div id="deleteModal" class="modal">
    <section class="flexModal">
        <div class="modal-content">
            <h2>Confirmar Exclusão</h2>
            <p>Tem certeza que deseja deletar este usuário?</p>
            <form id="modalForm" method="post">
                <button type="submit" class="confirm-delete">Sim, deletar</button>
                <button type="button" class="cancel-delete">Cancelar</button>
            </form>
        </div>
    </section>
</div>